/* style.css */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postagem {
    width: 80%;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

.postagem img {
    width: 100%;
    height: auto;
}

.postagem h2 {
    font-size: 24px;
    margin: 5px;
}

.postagem p {
    font-size: 18px;
    margin: 5px;
}
