body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
    align-items: center;
}

h2 {
    text-align: left;
    color: #ffffff;
}

p {
    text-align: left;
    color: #ffffff;
}

p2 {
    text-align: center;
    color: #ffffff;
}

.noticia {
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
}

.noticia img {
    width: auto; /* Alterado para 100% para ocupar a largura total */
    height: 200px;
}

.news-area {
    cursor: pointer;
    width: 2550px; /* Definindo a largura da área clicável */
    max-width: 50%; /* Garantindo que a largura máxima seja igual à largura da tela */
    height: 500px;
    margin: 0 auto; /* Centralizando a área clicável na tela */
    box-sizing: border-box; /* Considerando borda e preenchimento dentro da largura definida */
    text-align: center; /* Alinha o conteúdo no centro horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 300px; /* Definindo a largura do contêiner de imagem */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Espaçamento entre a imagem e o texto */
}

.news-area img {
    width: auto; /* Garantindo que a imagem não ultrapasse o contêiner */
    height: 200px; /* Garantindo que a imagem não ultrapasse o contêiner */
    object-fit: cover;
    margin: 10px auto; /* Margem acima e abaixo para espaçamento */
}

.news-area:hover {
    background-color: #0e0e0e;
}
