body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: left;
    color: #ffffff;
}

p {
    text-align: left;
    color: #ffffff;
}

.noticia {
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
}

.news-area {
    cursor: pointer;
    width: 2550px; /* Definindo a largura da área clicável */
    max-width: 100%; /* Garantindo que a largura máxima seja igual à largura da tela */
    height: 423px;
    margin: 0 auto; /* Centralizando a área clicável na tela */
    box-sizing: border-box; /* Considerando borda e preenchimento dentro da largura definida */
}

.news-area:hover {
    background-color: #f0f0f0;
}

.noticia img {
    width: auto; /* Alterado para 100% para ocupar a largura total */
    height: 100px;
    object-fit: cover;
}

.noticia img:hover {
    opacity: 0.5;
}

.news-area img {
    width: 100%; /* Definindo a largura da imagem dentro da área clicável */
}
